# Default NAMESPACE created by R
# Remove the previous line if you edit this file
#
# Imports
importFrom("grDevices", "grey")
importFrom("graphics", "axis", "box", "hist", "image", "layout", "locator", "par", "plot", "points", "rect", "title")
importFrom("stats", "as.dist", "df", "dist", "dt", "hclust", "integrate")
#
# Exports with patterns
exportPattern("^[^\\.]")
#
# Register S3 methods
S3method(print, eigenmap)
S3method(plot, eigenmap)
S3method(print, mca)
S3method(plot, mca)
S3method(summary, mca)
S3method(fitted, mca)
S3method(residuals, mca)
S3method(predict, mca)
#
# Load dynamic library
useDynLib("codep")
